<header class="w3-container w3-red w3-center" style="padding:128px 226px">
<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envie-me instruções de redefinição de senha" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</header>
<!-- Footer-->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
<!--
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity" target="https://www.linkedin.com/in/arretdaniel/">uenf</i>
 </div>
-->
 <p>Powered by <a href="https://uenf.br/portal/" target="_blank">uenf.br</a></p>
</footer>
